@import url("https://fonts.googleapis.com/css2?family=Rambla&display=swap");
html {
  margin: 0;
  padding: 0;
  font-family: "Rambla", sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poor Richard";
  src: url("POORICH.TTF") format("truetype");
}

main {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  max-width: 900px;
}

#details {
  width: 50%;
}

#cover {
  margin-right: 5%;
  align-self: flex-start;
  width: 30%;
  border: 10px solid #354c56;
}

#stars {
  display: flex;
  list-style: none;
  max-width: 140px;
  justify-content: space-between;
}
#stars > li > img {
  width: 16px;
}

#sub-title {
  text-transform: uppercase;
}

#tags {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.tag {
  padding: 18px 32px 12px 18px;
  background-color: #354c56;
  text-transform: uppercase;
  position: relative;
  overflow-x: hidden;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
}
.tag::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 12px solid #09fffd;
  border-top: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 0;
  bottom: 5px;
  transform: rotate(-10deg);
}

h1 {
  font-size: 120px;
  color: #09fffd;
  font-weight: 100;
  margin: 0;
  text-transform: uppercase;
  font-family: "Poor Richard";
}

#details-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #3687de;
}
#details-menu > li {
  padding-bottom: 18px;
  position: relative;
  top: 2px;
}

#top-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px #3687de solid;
}

ul {
  padding: 0;
  margin: 0;
}

.active > a {
  color: #09fffd;
}
.active {
  border-bottom: 2px solid #09fffd;
  background-color: #081f29;
}

/* Flèche vers le bas */
#top-nav > .active::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-top: 8px solid #09fffd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  transform: translateX(-50%);
  bottom: -10px;
  left: 50%;
}

li > a {
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  font-family: Rambla, sans-serif;
  color: #c4c4c4;
}

.text {
  font-size: 18px;
}

.cta {
  padding: 20px 60px;
  border: none;
  background-color: #09fffd;
  color: #081f29;
  margin-top: 60px;
  text-transform: uppercase;
  position: relative;
  box-shadow: 1px 1px 2px black;
  border-radius: 2px;
}

.cta::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 8px solid #081f29;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  left: 18px;
}

#top-nav li {
  padding: 36px;
  position: relative;
  top: 2px;
}
#top-nav li.arrow {
  padding: 0 9%;
  position: relative;
  top: 2px;
}

body {
  color: #c4c4c4;
  padding: 0;
  margin: 0;
  background-color: #081f29;
}
